/*-------------- Result page display and layout --------------*/
.results-container {
	margin-top: 100px;
	padding: 10px;
}

.score-box {
	display: block;
	padding: 10px;
	border: 3px solid var(--cultured);
	border-radius: 5px;
	padding: 10px;
	min-height: 300px;
	max-width: 600px;
	box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, .3);
}

.score-box h2 {
	font-size: 24px;
	color: var(--carolina-blue);
	margin: 10px 0 ;
}

.score-box h3 {
	margin: 10px 0;
	font-size: 18px;
}

.score-box img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;
	border-radius: 5px;
}

input[type=text], select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	display: inline-block;
	border: 2px solid var(--cultured);
	border-radius: 5px;
  }

.btn {
	background-color: var(--golden-poppy);
	color: #fff;
	border-radius: 5px;
	border: none;
	padding: 10px;
	width: 150px;
	cursor: pointer;
}

#homeBtn, #catBtn {
	background-color: var(--maximum-blue-green)
}

.btn:hover {opacity: 0.8;}

.btn:active {transform: scale(0.9)}

.btn[disabled] {
	opacity: 0.5;
	cursor: not-allowed;
}

/* Large devices - 992px and up) */
@media only screen and (min-width:992px) {

/* score page size agjustments */	
	.score-box h2 {
		font-size: 30px;
	}

	.score-box h3 {
		font-size: 22 px;
	}

}
